

body{
    background-color:steelblue!important;
}
.oknoold{
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 1;
}
@font-face {
    font-family: oldarial;
    src: url("fsex300.ttf");
}
a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
span{
    font-family: oldarial;
    font-size: 130%;
}